.menu-movil {
    display: none;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.menu-movil i {
    font-size: 26px;
    color: var(--color-azul);
    cursor: pointer;
}

.nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: var(--color-blanco);
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);
    padding: 60px 25px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: right .4s ease;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.nav-links li a {
    font-size: 18px;
    color: var(--color-azul);
    text-decoration: none;
}

.nav-links.abrir_menu {
    right: 0;
}

.menu-close {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: var(--color-dorado);
    display: block;
}

@media (max-width: 720px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }
    .img-container, .text-about {
        max-width: 100%;
    }
    .texto-img {
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px 10px 0 0;
        border-top-right-radius: 10px;
    }
    .text-about p.naranja {
        margin-top: 20px;
    }
    .like-container {
        text-align: left;
    }
    .reason-text {
        justify-content: center;
    }
    .acordeon-item {
        padding-left: 0;
    }

    .caracteristicas-video {
        flex-wrap: wrap;
        justify-content: center;
    }
    .caracteristica-card {
        flex-basis: calc(50% - 10px);
        margin-bottom: 20px;
    }
    
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .galeria-item:nth-child(1),
    .galeria-item:nth-child(2),
    .galeria-item:nth-child(3),
    .galeria-item:nth-child(4),
    .galeria-item:nth-child(5) { 
        grid-column: span 1;
        grid-row: auto;
    }
}

@media (max-width: 430px) {
    .caracteristica-card {
        flex-basis: 100%;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .galeria-item:nth-child(1),
    .galeria-item:nth-child(2),
    .galeria-item:nth-child(3),
    .galeria-item:nth-child(4),
    .galeria-item:nth-child(5) { 
        grid-column: span 1;
        grid-row: auto;
    }
}